/*  your css code here. If applicable */
table{
	width:1000px;
	border-collapse:collapse;
	border-width:0px 0px 1px 1px;
	border-style:solid;
	border-color:orange;
	
}
td{
	padding:3px 5px;
	text-align:center;
	border:1px solid orange;
}
table th{
	background-color:rgb(136, 136, 136);
	color:white;
	padding:3px 5px;
	
	border:1px solid orange;
}
table th ,table td{
text-align:center;
	border-width:1px 1px 0px 0px;
	border-style:solid;
	border-color:rgb(255, 165, 0);
	padding:3px 5px;
}
.sub-total-text, .sub-total-row{
	text-align:right;
	
}