/*  your css code here. If applicable */
table{
	width:1000px;
	border-collapse:collapse;
	border:1px solid orange;
	
}
td{
	padding:3px;
	text-align:center;
	border:1px solid orange;
}
th{
	background-color:#888888;
	color:white;
	padding:5px;
	text-align:center;
	border:1px solid orange;
}
.sub-total-text{
	text-align:right;
	
}